body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    background-color: #007bff;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.nav-button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #e7e7e7;
    cursor: pointer;
}

.nav-button.active {
    background-color: #007bff;
    color: white;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.protocol-name-container {
    text-align: center;
    margin: 20px 0;
}

.protocol-name {
    font-size: 20px;
    font-weight: bold;
    grid-column: 1 / span 3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #e7e7e7;
    padding: 80px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    position: relative; /* 포지셔닝 컨텍스트 설정 */
}
  
  .overlay-button {
    position: absolute; /* Grid 아이템에 대해 절대적 위치 지정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 버튼을 Grid 아이템의 정중앙으로 이동 */
    display: none; /* 기본 상태에서는 버튼 숨김 */
    height: 100px;
    width: 120px;
  }
  
  .grid-item:hover .overlay-button {
    display: block; /* 마우스 오버 시 버튼 표시 */
  }

.pipette{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.pipette img {
    width: 100px; /* 이미지 크기 조정 필요 */
}

.pipette-type {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.labware-list {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.labware-item {
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.labware-item:hover {
    background-color: #e7e7e7;
}

.labware-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}


.btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
  }

  .grid-item:hover .overlay {
    opacity: 1;
    pointer-events: auto;  
  }
  */